*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#99e379+0,7db9e8+100 */
    background: #A3ABB9; /* Old browsers */
    /*background: -moz-linear-gradient(left,  #99e379 0%, #7db9e8 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left,  #99e379 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right,  #99e379 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99e379', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 12px;
}
.container{
    /*padding-top: 4rem;*/
    background-color: #44546A;
}
.title{
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
}
.read{
    color: #fff;
    line-height: 1.6;
    margin:0 auto 2rem;
    width: 800px;
}

.gnav {
    display: flex;
    height: 2rem;
    /*margin: 0 auto;*/
    /*width: 1000px;*/
}
/* ログアウトボタンだけ右寄せ */
.logout{
  margin-left: auto;
  margin-right: 0px;
}
/* ルームナンバーを中央寄せ */
.room{
  margin-left: auto;
  margin-right: auto;
}
.gnav > li {/*親階層のみ幅を25%にする*/
    width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li {
    list-style: none;
    position: relative;
    background-color: #44546A;
    width: 100px;
}
.gnav li .room{
  background-color: white;
}
.gnav li a {
    background: #44546A;
    /*border-right: 1px solid #eee;*/
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
/*子階層以降共通*/
.gnav li li {
    height: 0;
    width: 150px;
    overflow: hidden;
    transition: .5s;
}
.gnav li li a {
    /*border-top: 1px solid #eee;*/
}
.gnav li:hover > ul > li {
    height: 2rem;
    overflow: visible;
}
.gnav li ul li ul {
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
/*一番右のメニュー*/
.gnav > li:nth-child(5) ul li ul {
    left: -100%;
    padding-right: 5px;
}
/*aの背景色を指定*/
.gnav li:hover a {/*親階層*/
    background: #737f8f;
}
.gnav li li a {/*子階層*/
    background: #737f8f;
}
.gnav li li:hover a {
    background: #a4b3c2;
}
.gnav li ul li ul li a {/*孫階層*/
    background: #a4b3c2;
}
.gnav li ul li ul li:hover a {
    background: #3b546b;
}
.gnav li ul li ul li ul li a {/*ひ孫階層*/
    background: #0065c1;
}
.gnav li ul li ul li ul li:hover a {
    background: #1e7dd4;
}
/*リストに「▶︎」を付ける*/
.gnav > li > ul:before{/*子階層*/
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    right: 1rem;
    position: absolute;
    top: 1rem;
    transform: translateY(-40%);
}
.gnav li ul li ul:before {/*孫階層*/
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    content: "";
    left: -20px;
    position: absolute;
    top: 1em;
    transform: translateY(-50%);
}
.gnav li:nth-child(5) ul li ul:before {/*一番右のメニューの孫階層*/
    border: 5px solid transparent;
    border-right: 5px solid #fff;
    left: auto;
    right: -20px;
}

.main{
    min-height: 0vh;    /* ブラウザ画面の高さ */
    position: relative; /* 相対位置 */
}

/*タブ切り替え全体のスタイル*/
.chat{
    bottom: 0;          /* 下に固定 */
    position: absolute; /* 絶対位置 */
    width: 100%;
}
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*width: 1500px;*/
    margin: 0 auto;}  
  /*各タブのスタイル*/
  .tab_item {
    width: calc(100%/4);
    height: 40px;
    border-bottom: 3px solid #44546A;
    background-color: #d9d9d9;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 15px 15px 0;
    clear: both;
    overflow: hidden;
    height: 100px;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #all:checked ~ #all_content,
  #programming:checked ~ #programming_content,
  #design:checked ~ #design_content,
  #secret:checked ~ #secret_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #44546A;
    color: #fff;
  }