ul.menu{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;  /* リストマーカーなし */
    background-color: rgba(0, 0, 0, 0.349);
}

ul.menu li{
    float: left;    /* 横並びにする */
    width: 5%;
}

ul.menu li.right{
    float: right;
}