
.flex_test-box {
	background-color: #eee;     /* 背景色指定 */
	padding:  10px;             /* 余白指定 */
	display: flex;     /*横並びにする*/
}

.flex_test-item {
	padding: 10px;
	color:  rgb(84, 84, 84);               /* 文字色 */
	margin:  10px;              /* 外側の余白 */
	border-radius:  5px;        /* 角丸指定 */
}

.flex_test-item:nth-child(1) {
	background-color:  rgb(255, 255, 255); /* 背景色指定 */
	text-align: center;
	width: 400px;
	height:630px;
}

.flex_test-item:nth-child(2) {
	background-color:  rgb(255, 255, 255); /* 背景色指定 */
	width: 1000px;
	height:630px;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.tab-wrap {
	height: 100%;
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
  }
  .tab-label {
	width: 60px;
	height:25px;
	color: White;
	background: rgb(189, 189, 189);
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	border:1px solid Gray;
	border-radius: 4px 0 0 4px;
	margin: 0px -1px 0px 1px;
	padding: 1px .5em;
	order: -1;
	position: relative;
	z-index: 1;
	cursor: pointer;
	float:left;
  }
  .tab-content {
	display:none;
  }
  /* アクティブなタブ */
  .tab-switch:checked+.tab-label {
	color: Gray;
	background: White;
	border-right-color: White;
  }
  .tab-switch:checked+.tab-label+.tab-content {
	width: calc(100% - 1px); /* - ボタン幅 */
	height: 100%;
	padding: 1px;
	display:block;
  }
  /* ラジオボタン非表示 */
  .tab-switch {
	display: none;
  }

  div.float-sample-1{
	float:left;
	width:1100px;
	height:600px;
	background:#fafafa;
	}
  div.float-sample-2{
	width:100px;
	height:90px;
	background:#d18005;
	}

	th,td {
		border: solid 1px; 
		color: rgb(115, 115, 115);
		             /* 枠線指定 */
	}
	 
	table {
		border-collapse:  collapse;     /* セルの線を重ねる */
	}
	th {
		
		width:  60px;              /* 幅指定 */
		height: 30px;               /* 高さ指定 */
	}
